# Q.1 Here is a sample line of code that can be executed in Python:
- print("Hello,Â World!")

In [1]:
my_str = "Hello, World!"
print(my_str)

Hello, World!

# Q.2 Given an integer, , perform the following conditional actions:
- If n is odd, print Weird
- If n is even and in the inclusive range of 2 to 5, print Not Weird
- If n is even and in the inclusive range of 6 to 20, print Weird
- If n is even and greater than 20, print Not Weird

In [14]:
n = int(input())

if n > 0:
    
    if n % 2 == 1:
        print("Weird")

    else :
        if 2 <= n <= 5 :
            print("Not Weird")

        elif 6 <= n <= 20:
            print("Weird")

        else:
            print("Not Weird")

 15

Weird

# Q.3 The provided code stub reads two integers from STDIN, a and b. 
- Add code to print three lines where:

- The first line contains the sum of the two numbers.
- The second line contains the difference of the two numbers (first - second).
- The third line contains the product of the two numbers.

In [13]:
a = int(input())
b = int(input())

print(a+b)
print(a-b)
print(a*b)

 3
 5

8
-2
15

# Q.4 The provided code stub reads two integers, a and b, from STDIN.
- Add logic to print two lines. 
- The first line should contain the result of integer division, a//b . 
- The second line should contain the result of float division,  a/b .
- No rounding or formatting is necessary.

In [12]:
a = int(input())
b = int(input())

print(a//b)
print(a/b)

 3
 4

0
0.75

# Q.5 The provided code stub reads an integer n, from STDIN. For all non-negative integers , i < n, print i^2.
- Example
- The list of non-negative integers that are less than n=3 is [0,1,3]. 
- Print the square of each number on a separate line.
0
1
9

- Constraint : 1 <= n <= 20

In [15]:
n = int(input())

if 1 <= n <= 20:
    for i in range(n):
        print(i*i)

 4

0
1
4
9

# Q.6 Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.
- Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. 
- It is only necessary to complete the is_leap function.

- Constraint : 1900 <= year <= 10^5 

Read , the year to test.
- An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

# In the Gregorian calendar, three conditions are used to identify leap years:
1. The year can be evenly divided by 4, is a leap year, unless:
2. The year can be evenly divided by 100, it is NOT a leap year, unless:
3. The year is also evenly divisible by 400. Then it is a leap year.
- This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

In [17]:
def is_leap(year):
    if 1900 <= year <= 10 ** 5:
        if year % 4 == 0:
            if year % 100 == 0:
                if year % 400 == 0:
                    return True
                else:
                    return False
            else:
                return True
        else:
            return False
        
        
year = int(input())
print(is_leap(year))

 2004

True

# Q.7 The included code stub will read an integer, , from STDIN.
- Without using any string methods, try to print the following:
- 123...n

- Note that "...." represents the consecutive values in between.

Example : n = 5
- print the string 12345

- Constraint : 1 <= n <= 150

In [18]:
n = int(input())

if 1 <= n <= 150 :
    res = ""
    for i in range(1, n+1):
        res += str(i)
        
    print(res)

 5

12345